In [2]:
import pandas as pd

# inbounds loads

In [50]:
df_inbound = pd.read_csv("inbound_loads.csv", index_col=0)
print(df_inbound.shape)
df_inbound.head()
# val_counts = df_inbound['trailer_number'].value_counts() 
# print (val_counts['TNU8521169'])
# [print(x,y) for (x, y) in val_counts[val_counts<2].items()]
# df_inbound.loc[df['weight_uom']!='pounds']

(56146, 17)

,warehouse_order_number,customer_code,load_reference_number,carrier_code,front_temperature,middle_temperature,back_temperature,net_weight,weight_uom,case_quantity,pallet_count,load_start_datetime,load_finish_datetime,signout_datetime,dock_door_number,trailer_number,truck_signin_datetime
0,1290649.0,2537.0,I42171197,TMDN,-1.0,-1.0,-1.0,39000.0,pounds,1625.0,24.0,2019-02-11 04:42:00,2019-02-11 04:51:00,2019-02-11 04:19:10,59.0,1362664,2019-02-11 02:00:09
1,1293130.0,2537.0,I42169605,CKKI,4.0,4.0,4.0,29561.0,pounds,1232.0,26.0,2019-01-16 10:11:00,2019-01-16 11:27:00,2019-01-16 09:57:04,60.0,MWCU5258117,2019-01-16 07:24:26
2,1298947.0,2537.0,I42178319,CKTH,NaN,NaN,NaN,39984.0,pounds,1666.0,24.0,2019-07-30 09:59:00,2019-07-30 10:18:00,2019-07-30 10:21:11,61.0,CGMU5027645,2019-07-30 07:21:09
3,1299947.0,2537.0,I42169266,NTGO,-10.0,-7.0,-6.0,37800.0,pounds,1260.0,18.0,2019-01-10 08:51:00,2019-01-10 08:58:00,NaN,58.0,54087,2019-01-10 08:04:05
4,1299948.0,2537.0,I42169269,NTGO,3.0,4.0,5.0,41394.0,pounds,1380.0,18.0,2019-01-10 07:26:00,2019-01-10 08:08:00,2019-01-10 07:43:34,56.0,305266,2019-01-10 04:29:02

found in inbound_loads.csv:
* all weight_uom values are in pounds (or NaN)
* 17756 different trailers in use. Some are used >267 times, others only once.

# pallet history

In [53]:
df_pallet = pd.read_csv('Pallet_history_Gold_Spike.csv', index_col=0)
print(df_pallet.shape)
df_pallet.head()
# val_counts = df['trailer_number'].value_counts() 
# print (val_counts['TNU8521169'])
# [print(x,y) for (x, y) in val_counts[val_counts<2].items()]
# df.loc[df['weight_uom']!='pounds']

(4925535, 14)

,source_system_id,warehouse_facility_id,customer_code,from_location_code,to_location_code,transaction_date,tran_type,quantity,work_type,final_pallet_code,warehouse_pallet_code,lot_code,received_date,move_category
0,11,42,3610,UNASSIGNED,0030130071,2021-11-23 07:43:18,NaN,0,WRONGFULL,NaN,1363587-,1363587,2021-11-21 10:39:33,outbound move
1,11,42,3610,0030130071,0030130071,2021-11-23 07:50:20,NaN,0,WRONGFULL,NaN,1363587-,1363587,2021-11-21 10:39:33,outbound move
2,11,42,3610,0030130071,0030130071,2021-11-23 16:56:53,NaN,0,WRONGFULL,NaN,1363587-,1363587,2021-11-21 10:39:33,outbound move
3,11,42,3610,UNASSIGNED,0030130071,2021-11-23 07:43:18,NaN,0,WRONGFULL,NaN,1364144-,1364144,2021-11-21 10:39:33,outbound move
4,11,42,3610,0030130071,0030130071,2021-11-23 07:50:20,NaN,0,WRONGFULL,NaN,1364144-,1364144,2021-11-21 10:39:33,outbound move

In [82]:
# not_same = df_pallet[df_pallet['warehouse_pallet_code']!=df_pallet['final_pallet_code']]
df_pallet['work_type'].value_counts()
# df_pallet.head(n=10)

work_type
FULLS         1283584
MOVE          1066965
PUTAWAYS      1064119
STAGE          459850
PARTIALS-V     421453
SWAPFULL       140374
DROPS          121828
INBOUNDRUN      61493
WRONGFULL       58373
ANYFULL         51160
CHRYPICK-S      44122
RELOS           43206
PARTIALS-S      40809
FULLCHGLOC      29580
SWAPDROP        19423
UN-LOAD          8353
LOCCHANGE        6608
RELORUN          2239
FULLRELO         1080
REVDROPS          735
DROPRETURN        102
DROPRELO           79
Name: count, dtype: int64

found in Pallet_history_Gold_Spike.csv:
* all source_system_id are 11
* all warehouse_facility_id are 42 (same warehouse for all)
* all final_pallet_code are NaN

# weather

In [19]:
df_weather = pd.read_csv("weather.csv", index_col=0)

In [28]:
df_weather

,datetime,Relative Humidity,Temperature,datetime_UTC,hour
0,2018-12-31 18:00:00-06:00,50.37,53.6,2019-01-01 00:00:00,18
1,2018-12-31 18:05:00-06:00,50.37,53.6,2019-01-01 00:05:00,18
2,2018-12-31 18:10:00-06:00,50.37,53.6,2019-01-01 00:10:00,18
3,2018-12-31 18:15:00-06:00,50.37,53.6,2019-01-01 00:15:00,18
4,2018-12-31 18:20:00-06:00,50.37,53.6,2019-01-01 00:20:00,18
...,...,...,...,...,...
328237,2021-12-31 17:35:00-06:00,82.89,68.0,2021-12-31 23:35:00,17
328238,2021-12-31 17:40:00-06:00,82.89,68.0,2021-12-31 23:40:00,17
328239,2021-12-31 17:45:00-06:00,82.89,68.0,2021-12-31 23:45:00,17
328240,2021-12-31 17:50:00-06:00,82.89,68.0,2021-12-31 23:50:00,17
328241,2021-12-31 18:00:00-06:00,82.89,68.0,2022-01-01 00:00:00,18

# Demand kwtrain val

In [3]:
df_demand = pd.read_csv("demand_kWtrain_val.csv", index_col=0)

In [14]:
df_demand_train = df_demand[df_demand['demand_kW'].notna()]
df_demand_val = df_demand[df_demand['demand_kW'].isna()]

In [25]:
df_demand_train

        datetime_local    demand_kW
0       12/31/18 21:15  2064.101392
1       12/31/18 21:30  1874.002081
2       12/31/18 21:45  1988.168511
3       12/31/18 22:00  2022.795943
4       12/31/18 22:15  1986.981872
...                ...          ...
273983   10/11/21 6:03  2217.847000
273984   10/11/21 6:04  2184.012000
273985   10/11/21 6:05  2159.482000
273986   10/11/21 6:06  2145.155000
273987   10/11/21 6:07  2213.599000

[273988 rows x 2 columns]